<div class="container aos-init aos-animate services" data-aos="fade-up">

    <div class="section-title">
        <h2>Servicios</h2>
        <p>En DesignMatch encontrarás un aliado para realizar tus propuestas de diseño a los diferentes proyectos
         que las grandes compañías publican en nuestra plataforma.</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="icon-box">
                <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
                <h4 class="title">Publicación de proyectos</h4>
                <p class="description">Obtendrás varias opciones de diseño para tu proyecto, solo recuerda realizar una descripción completa de lo que esperas del diseño.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="icon-box">
                <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
                <h4 class="title">Postula tus diseños</h4>
                <p class="description">Utiliza tu imaginación para crear los diseños más llamativos para los proyectos publicados</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="icon-box">
                <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                <h4 class="title">Gana dinero</h4>
                <p class="description">Si tu diseño es elegido para el proyecto, vas a recibir la suma que solicitaste como pago por tu diseño!</p>
            </div>
        </div>
    </div>
</div>