<div class="container-fluid fill-height">
    <br>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
            <h1 class="ed-title">Crea tu proyecto</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
            <div class="border editor">
            <form action="/projects" method="POST">
                <div id="div_id_project" class="form-group required">
                    <label class="control-label col-md-6"><b> Nombre del proyecto: </b></label>
                    <input class="control-label" name="[name_project]">
                    
                    <label class="control-label col-md-6"><b> Descripción: </b></label>
                    <textarea class="control-label mytxt" name="[description]"></textarea>
                    <label class="control-label col-md-6"><b> Valor estimado a pagar:</b></label>
                    <input type="number" class="control-label" name="[e_value]">
                    <hr>
                    <input type="submit" class="control-label btn mybtn">                        
                </div>
            </form>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>