// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newDesign {
    border-radius: 1.1rem;
    padding: 1rem;
}

.form-horizontal {
    margin-top: 8em !important;
}

#messageDiv {
    border: rgb(10, 156, 10); 
    border-style: double; 
    background: rgb(157, 248, 157);
}

.messageText {
    text-align: center; 
    margin-top: 0.5em; 
    color: rgb(10, 156, 10); 
}