// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root{
    --azul: #048A81
}

.jumbotron {
    background-image: url(banner.jpg) !important;
    color: white;
}

.a-white {
    color: white !important;
}

.bt-conocer{
    background-color: white !important;
    color: #1fcac2 !important;
    
}